<?xml version="1.0" encoding="ISO-8859-1"?>

<beans>
    <bean id="userDao" class="com.burdennn.springframework.bean.UserDao" init-method="init" destroy-method="destroyUserDao"/>

    <bean id="userService" class="com.burdennn.springframework.bean.UserService" scope="singleton">
        <property name="name" value="burdennn"/>
        <property name="location" value="shanghai"/>
        <property name="userDao" ref="userDao"/>
        <property name="iUserDao" ref="proxyUserDao"/>
    </bean>

    <bean class="com.burdennn.springframework.common.MyBeanFactoryPostProcessor"/>
    <bean class="com.burdennn.springframework.common.MyBeanPostProcessor"/>

    <bean id="proxyUserDao" class="com.burdennn.springframework.bean.ProxyBeanFactory"/>
</beans>
